<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.groupinsy.omr.mapper.MovieMapper">
	<select id="getMovies" resultType="com.groupinsy.omr.model.Movie">
		select * from movie;
	</select>
	
	<insert id="insertMovie" parameterType="com.groupinsy.omr.model.Movie"> 
	
		insert into movie(id,name,genre,price,movie_link) values(#{id},#{name},#{genre},#{price},#{movieLink})
	
	</insert>
	
	<update id="updateMovie" parameterType="com.groupinsy.omr.model.Movie"> 
	
		update movie set name=#{name}, genre=#{genre}, price=#{price}, movie_link=#{movieLink} where id=#{id}
	
	</update>
	
	<delete id="deleteMovie" parameterType="int">
        delete from movie where id = #{id}
    </delete>
	
	
	<select id="getMovieById" resultType="com.groupinsy.omr.model.Movie">
		select * from movie where id=${id}
	</select>
	
</mapper>